@import "animations";
@import "utils";
@import "icons";

$background: rgb(132, 189, 0);
$accent: #fff;
$text-color: #fff;
$faded: lighten($background, 50%);
$leading: 1.6;

$font-size: 18;
$lineheight: (($leading * $font-size) / 16) * 1em;

$sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$mono: Monaco, Courier, monospaced;

/* the #fuckitreset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $text-color;
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  border-top: 4px solid #fff;
}

body {
  font: 600 #{($font-size / 16) * 1em}/#{$leading} $sans;
  width: 90%;
  max-width: 34em;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

p {
  margin: 0 0 $lineheight / 2;

  &.tbc {
    text-transform: uppercase;
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: $lineheight / 2;
}

h1 {
  font-size: to_em(32);
}

h2 {
  font-size: to_em(22);
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

[role="banner"] {
  padding: $lineheight 0 0;
  margin-bottom: $lineheight;
  text-align: center;

  img {
    margin: 0 auto $lineheight / 3;
    height: $lineheight*2;
  }

  h1 {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: to_em(24);

    .text {
      display: block;
    }

    .title {
      transform: rotate(-2deg);
      font-size: 1.1em;
    }

    em {
      font-size: .75em;
      transform: none !important;
      font-weight: normal;
      letter-spacing: 1px;
      color: $faded;
    }

    strong {
      transform: rotate(1deg) !important;
      font-size: .9em;
      letter-spacing: 3px;
    }
  }

  .tagline {
    padding: 0 10%;
    color: $faded;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: $lineheight;
  }

  .icon-row {
    margin-top: $lineheight;

    span {
      display: inline-block;
      vertical-align: middle;
      padding: 0 .2em;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        -webkit-animation: slideRight 3s linear both;
      }

      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        -webkit-animation: slideLeft 3s linear both;
      }

      &:nth-child(4) {
        -webkit-animation: pop 2.5s 1s linear both;
      }
    }

    .icon {
      font-size: 6em;
    }

    .text {
      font-size: 1.8em;
      color: lighten(rgba($background, .6), 20%);
    }
  }

  .details {
    margin-top: $lineheight / 2;
    font-size: .9em;
  }
}

[role="main"] {
  padding: $lineheight 0;
}

[role="article"] {
  h1, h2 {
    text-align: center;
  }
}

a {
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid rgba($faded, .5);
  transition: border-color .3s ease-out;

  &:hover {
    border-color: #fff;
  }
}

dt {
  font-weight: normal;
  color: $faded;
}
dd {
  margin-bottom: $lineheight / 4;
}

.btn {
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  padding: 1em 2em;
  font-weight: 600;
  border: 1px solid rgba(#fff, .4);
  color: $faded;
  transition: border-color .3s ease-out, color .3s ease-out;

  &:active:not([disabled]) {
    transform: scale(.98);
  }

  &:hover:not([disabled]) {
    color: #fff;
    border-color: $faded;
  }

  &[disabled] {
    cursor: default;
  }
}

[role="contentinfo"] {
  text-align: center;
  font-size: .9em;
  font-weight: normal;
  color: $faded;
  padding: $lineheight / 2 0;
}
